.git
.github
.next
.turbo
**/.next
**/.turbo
**/dist
**/node_modules
node_modules
coverage
deploy
docs
infra
*.log
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
TASK_*.md
*_REPORT.md
pnpm-debug.log*
