# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
.turbo/
.expo/
web-build/

# typescript incremental state (tsconfig.base.json sets "incremental": true)
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# testing
coverage/
